html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#search {
	position: fixed;
	top: 10px;
	left: 50%;
	width: 100%;
	max-width: 400px;
	transform: translateX(-50%);
	z-index: 1000;
}

#searchInput {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	background-color: #ffffff88;
	backdrop-filter: blur(10px);
}

.prompt {
	width: 250px;
	display: flex;
	flex-direction: column;
}

.prompt input[type="text"],
.prompt textarea {
	padding: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	resize: none;
}

.prompt input[type="color"] {
	display: none;
}

.prompt #markerColor {
	transform: scale(.7);
	cursor: pointer;
}

.popup-title,
.popup-description,
.popup-type {
	word-wrap: break-word;
}

.popup-title {
	font-size: 16px;
}

.popup-description {
	font-size: 14px;
}

.popup-content {
	display: flex;
	flex-direction: column;
}

.popup-actions {
	display: flex;
	margin-top: 5px;
}

.popup-btn {
	flex: 1;
	padding: 10px;
	border: none;
	outline: none;
	width: 100%;
	margin: 0 5px;
	border-radius: 12px;
	cursor: pointer;
}

.popup-btn:first-child {
	margin-left: 0;
}

.popup-btn:last-child {
	margin-right: 0;
}

.popup-btn.green {
	background-color: rgb(144, 238, 144);
}

.popup-btn.green:hover {
	background-color: rgb(144, 218, 144);
}

.popup-btn.green:active {
	background-color: rgb(144, 208, 144);
}

.popup-btn.red {
	background-color: rgb(240, 128, 128);
}

.popup-btn.red:hover {
	background-color: rgb(220, 128, 128);
}

.popup-btn.red:active {
	background-color: rgb(200, 128, 128);
}

.pin-parent {
	background-color: initial;
	border: initial;
}

.pin {
	--color: #0099ff;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	border: 8px solid var(--color);
	width: 8px;
	height: 8px;
}

.pin::after {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	bottom: -30px;
	left: -6px;
	border: 10px solid transparent;
	border-top: 17px solid var(--color);
}
